[buildout]
extends = plone-base.cfg
parts += patches
prefer-final = true
develop = .

extensions = mr.developer buildout.dumppickedversions
sources = sources
sources-dir = extras
auto-checkout =
    plone.app.imaging
    Products.contentmigration
    archetypes.schemaextender

[sources]
plone.app.imaging         = svn https://svn.plone.org/svn/plone/plone.app.imaging/trunk
Products.contentmigration = svn https://svn.plone.org/svn/collective/Products.contentmigration/trunk
Products.LinguaPlone      = svn https://svn.plone.org/svn/plone/Products.LinguaPlone/trunk
archetypes.schemaextender = svn https://svn.plone.org/svn/archetypes/archetypes.schemaextender/trunk

[versions]
ZODB3 = 3.8.3
zope.testing = 3.8.3

[zope2]
fake-zope-eggs = true
skip-fake-eggs = zope.proxy zope.testing

[instance]
blob-storage = var/blobstorage
eggs +=
    plone.app.blob
    plone.app.imaging
    Products.contentmigration
    Products.LinguaPlone
    collective.monkeypatcher
zcml +=
    plone.app.blob
    plone.app.imaging
    Products.contentmigration
    collective.monkeypatcher

[patches]
# the patches are only required to run the bbb tests;  however, due to the
# broken support for +=/-= the part already gets introduced here...
recipe = plone.recipe.command
command = # skipped.
update-command = ${patches:command}
