[buildout]
extends = plone-base.cfg
parts += patches test
develop = .

extensions = mr.developer buildout.dumppickedversions
sources-dir = extras
auto-checkout =
    plone.scale
    plone.app.imaging

[sources]
plone.scale               = svn https://svn.plone.org/svn/plone/plone.scale/trunk
plone.app.imaging         = svn https://svn.plone.org/svn/plone/plone.app.imaging/trunk
Products.contentmigration = svn https://svn.plone.org/svn/collective/Products.contentmigration/trunk
archetypes.schemaextender = svn https://svn.plone.org/svn/archetypes/archetypes.schemaextender/trunk

[versions]
ZODB3 = 3.8.4
zope.testing = 3.8.7
Products.LinguaPlone = 2.4
plone.recipe.zope2instance = 3.6
zc.recipe.testrunner = 1.2.1

[zope2]
fake-zope-eggs = true
skip-fake-eggs = zope.proxy zope.testing

[instance]
blob-storage = var/blobstorage
eggs +=
    plone.app.blob
    plone.app.imaging
    Products.contentmigration
    Products.LinguaPlone
    collective.monkeypatcher
    collective.testcaselayer
zcml +=
    plone.app.blob
    plone.app.imaging
    Products.contentmigration

[patches]
# the patches are only required to run the bbb tests;  however, due to the
# broken support for +=/-= the part already gets introduced here...
recipe = plone.recipe.command
command = # skipped.
update-command = ${patches:command}

[test]
recipe = zc.recipe.testrunner
extra-paths = ${zope2:location}/lib/python
defaults = ['-v', '-s', 'plone.app.blob']
eggs = ${instance:eggs}
