[buildout]
extends = plone-3.2.cfg
versions = versions
unzip = true
develop = .

extensions = mr.developer
sources = sources
sources-dir = extras
auto-checkout =
    plone.app.imaging

[sources]
plone.app.imaging         = svn https://svn.plone.org/svn/plone/plone.app.imaging/trunk
Products.contentmigration = svn https://svn.plone.org/svn/collective/Products.contentmigration/trunk
Products.LinguaPlone      = svn https://svn.plone.org/svn/plone/Products.LinguaPlone/trunk

[versions]

[zope2]
fake-zope-eggs = true
skip-fake-eggs =
    zope.proxy

[instance]
blob-storage = var/blobstorage
eggs +=
    plone.app.blob
    plone.app.imaging
    Products.contentmigration
    Products.LinguaPlone
zcml +=
    plone.app.blob
    plone.app.imaging
    Products.contentmigration
