# a buildout variant setting up the basis for running
# backward-compatibility tests;  please note, that `Products.LinguaPlone`
# gets removed here, since its monkey-patches cause some of the tests in
# `CMFPlone` and `ATContentTypes` to fail...

[buildout]
auto-checkout +=
    Plone
    Products.ATContentTypes
    plone.app.linkintegrity

[instance]
eggs -= Products.LinguaPlone

[patches]
recipe = plone.recipe.command
command = cat ${buildout:directory}/test-patches/* | patch -Nsp0 --no-backup-if-mismatch
update-command = ${patches:command}
