# a buildout variant for running backward-compatibility tests
# this is needed, since `LinguaPlone`'s monkey-patches cause
# some of the tests in `CMFPlone` to fail

[buildout]
extends = buildout.cfg
auto-checkout +=
    Plone
    Products.ATContentTypes

[sources]
Plone                   = svn http://svn.plone.org/svn/plone/Plone/branches/3.2
Products.ATContentTypes = svn http://svn.plone.org/svn/collective/Products.ATContentTypes/branches/1.2

[instance]
eggs -= Products.LinguaPlone
